<h2>Shopping List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let item of service.ingredientsToShop">
    <td> {{item.name}} </td>
    <td> {{item.quantity}} </td>    
  </tr>
</table>
