.wrapper{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    border: ridge;
}
.wrapper div{
    border: ridge;
    justify-content: center;
}

.fridge{
    text-align: center;    
}