<div>
  <h1> Recipe List </h1>
 <ul *ngFor="let recipe of service.recipeList" (click)="selectRecipe(recipe)" class="{{recipe ==       
    selectedRecipe ? 'selected' : ''}}">
    <li>{{recipe.name}}</li>
  </ul>
  
  <label>Recipe Name </label>
  <input type="text" [(ngModel)]="newRecipe.name"><br>
  
  <label>Estimated Time </label>
  <input type="number" [(ngModel)]="newRecipe.estimatedTime"><br><br>
  
  <input type="button" value="add Recipe" (click)="addRecipe()"><br>  
  
  <div *ngIf="selectedRecipe != null">
    <h1>Selected Recipe</h1>

    <table>
      <tr *ngFor="let item of selectedRecipe.ingredients" (click)="selectIngrediet(item)" class="{{ selectedIngredient == item ? 'selected' : '' }}">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
      </tr>
      <br>
      <tr>
        <th>Estimated Time: </th>
        <td>{{selectedRecipe.estimatedTime}}</td>
      </tr>
      <tr>
        <th>Instructions: </th>
        <td *ngFor="let str of selectedRecipe.instructions">{{str}}</td>
       </tr> 
    </table>
  <br>
    <label>Ingredient Name </label>
    <input type="text" [(ngModel)]="newIngredient.name"><br>
    <label>Quantity </label>
    <input type="number" [(ngModel)]="newIngredient.quantity"><br><br>
    <input type="button" value="add Ingredient" (click)="addIngredient()"><br><br>
    
    <label>Instruction  </label>
    <input type="text" [(ngModel)]="newInstruction"><br><br> 
    <input type="button" value="add instruction" (click)="addInstruction()"><br>
    
    <br><input type="button" value="delete Recipe" (click)="deleteRecipe()"><br>


  </div>  
  
  <div *ngIf="selectedIngredient != null">
    <h1>Selected Ingredient</h1>
    <table>
      <tr>
        <td>{{selectedIngredient.name}}</td>
        <td>{{selectedIngredient.quantity}}</td>
       </tr> 
    </table>

    <label>Quantity </label>
    <input type="number" [(ngModel)]="changedIngredient.quantity"><br>

    <input type="button" value="add" (click)="addQuantity()">
    <input type="button" value="remove" (click)="removeQuantity()">
  </div>  
  
</div>
   