<h1>Fridge Ingredients</h1>
<table>
  <tr>
    <th> Name </th>
    <th> Quantity </th>    
  </tr>
  <tr *ngFor="let item of service.f1.ingredients" (click)="selectIngredient(item)" class="{{ selectedIngredient == item ? 'selected' : '' }}">
    <td>
      {{item.name}}
    </td>
    <td>
      {{item.quantity}}
    </td>
  </tr> 
</table>
<br>

  <label>Ingredient Name </label>
  <input type="text" [(ngModel)]="newIngredient.name"><br>
  <label>Quantity </label>
  <input type="number" [(ngModel)]="newIngredient.quantity"><br><br>
  <input type="button" value="add Ingredient" (click)="addIngredient()"><br><br>
      
  <div *ngIf="selectedIngredient != null">
    <h1>Selected Ingredient</h1>
    <table>
      <tr>
        <td>{{selectedIngredient.name}}</td>
        <td>{{selectedIngredient.quantity}}</td>
      </tr> 
    </table>

    <label>Quantity </label>
    <input type="number" [(ngModel)]="changedIngredient.quantity"><br>

    <input type="button" value="add" (click)="addQuantity()">
    <input type="button" value="remove" (click)="removeQuantity()">
</div>    